* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f6d186;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Container */
.container {
  margin: 30px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
}

h1 {
  margin-bottom: 20px;
}

/* form */

input,
button {
  cursor: pointer;
  border: 1px solid #dedede;
  padding: 5px 10px;
  font-size: 16px;
}

input {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.search-btn {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.random-btn {
  margin-left: 7px;
  border-radius: 4px;
}

input {
  width: 300px;
}

/* Result section */
.result-heading h2 {
  margin: 20px 0;
}

.meals {
  width: 800px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.meal {
  position: relative;
}

.meal .mealInfo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3 ease;
}

.meal:hover .mealInfo {
  opacity: 1;
}

.meal .mealInfo h3 {
  text-align: center;
  margin: 0 5px;
}

.meal img {
  width: 200px;
  height: 200px;
  border: 5px solid #fff;
}

/* Single Meal */

.single-meal {
  padding: 20px;
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.single-meal h2 {
  margin: 5px 0;
}

.single-meal img {
  width: 400px;
  margin: 20px 0;
}

.single-meal .ingredients {
  list-style: none;
  width: 500px;
  margin: 20px 0;
  text-align: center;
}

.single-meal .ingredients li {
  background: #fff;
  color: #f6d186;
  display: inline-block;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}

.single-meal .category {
  width: 300px;
  height: 70px;
  padding: 20px 50px;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 5px dotted #f19292;
}

.single-meal .instruction {
  width: 700px;
  margin: 10px 0;
  font-size: 17px;
  line-height: 1.7;
  text-align: center;
}
